/* You can add global styles to this file, and also import other style files */
.top-content {
    margin-top: 180px;
}

.top-content-150 {
    margin-top:150px;
}

.top-content-100 {
    margin-top: 100px;
}

.top-content-90 {
    margin-top: 90px;
}

.top-content-80 {
    margin-top: 80px;
}

.top-content-70 {
    margin-top: 70px;
}

.top-content-60 {
    margin-top: 60px;
}

.top-content-50 {
    margin-top: 50px;
}

.top-content-40 {
    margin-top: 40px;
}

.top-content-30 {
    margin-top: 30px;
}

.top-content-20 {
    margin-top: 20px;
}

.top-content-10 {
    margin-top: 10px;
}

.container {
    max-width: 800px;
}

.card-list ul { 
    padding:0; 
    margin:5px auto;
    list-style: none;
}
.card-list li { 
    display: inline;
    /*float: left;*/
    padding: 5px;
}